body {
  padding-left: 1em;
  padding-right: 1em;
  position: absolute;
  word-wrap:break-word;
}

h1 {
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 2em;
}

table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
  max-width: 100% !important;
}

th {
  background-color:#DBDBDB;
}

th, td {
  text-align: center;
  padding: 0.3em;
}

a {
  color:black;
}
a:hover{
  color: grey;
}

p {
  padding-left: 1em;
}